@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis'), local('Dosis'), url(fonts/Dosis-Regular.ttf) format('truetype');
}

body {
  background: #ECEFF1;
  font-family: 'Dosis';
}

.ui.container {
  padding: 1rem 0;
}

.ui.input {
  margin-bottom: 1rem;
  color: #546E7A;
}

.result {
  display: inline-table;
  margin: 0 0.1rem 0.2rem 0;
  height: 1.2rem;
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.result:hover {
  background: #3498db;
}

.result:hover .description {
  color: #fff;
}

.selected {
  background: #3498db;
}

.selected .description {
  color: #fff;
}

.emoji {
  display: table-cell;
  padding-top: 0.15rem;
  color: #fff;
}

.description {
  display: table-cell;
  font-size: 1rem;
  vertical-align: middle;
  padding-bottom: 0.25rem;
  padding-right: 0.2rem;
  padding-left: 0.3rem;
  color: #546E7A;
}
