@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis'), local('Dosis'), url(fonts/Dosis-Regular.ttf) format('truetype');
}

body {
  background: #ECEFF1;
  font-family: 'Dosis';
  padding: 1rem;
}

#search {
  font-weight: bold;
  font-family: 'Dosis';
  font-size: 0.8rem;
  border-radius: 100rem;
  border-style: solid;
  border-color: #dededf;
  border-width: 1px;
  color: #546E7A;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 0.6rem;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#search:focus {
  outline: none;
  border-color: #3498db;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #dededf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #dededf;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #dededf;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #dededf;
}

.ui.input {
  margin-bottom: 1rem;
  color: #546E7A;
}

.result {
  display: inline-table;
  margin: 0 0.1rem 0.2rem 0;
  height: 1.4rem;
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.selected {
  background: #3498db;
}

.selected .description {
  color: #fff;
}

.emoji {
  display: table-cell;
  padding-top: 0.3rem;
  color: #fff;
}

.description {
  display: table-cell;
  font-size: 0.8rem;
  vertical-align: middle;
  padding-bottom: 0.1rem;
  padding-right: 0.2rem;
  padding-left: 0.3rem;
  color: #546E7A;
}
